NEXT_PUBLIC_SITE_URL=https://offsay.in
NEXT_PUBLIC_PORTAL_URL=https://offsayofficial-creator.github.io/offsay-config/
NEXT_PUBLIC_PLAY_STORE_URL=
NEXT_PUBLIC_APP_STORE_URL=
NEXT_PUBLIC_CONTACT_EMAIL=offsay.official@gmail.com
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_REMOTE_CONFIG_URL=https://raw.githubusercontent.com/offsayofficial-creator/offsay-config/main/config.json
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
